
.intereses_container {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}

.intereses_panel {
  display: grid;
  background-color: grey;
  border-radius: 20px;  
  width: 40%;
  height: 50%;
  padding: 25px;
  grid-template-columns: repeat(auto-fill, minmax(auto-fill, 1fr));
  grid-auto-rows: minmax(auto, min-content);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
}