h4,p{
    padding: 0;
    margin: 0;
}

.contenedor__perfil{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    overflow-y: auto;
}

.avatar__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 30%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    max-width: 600px;
    gap: 8%;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: max-content;
    width: 60%;
    height: 40%;
}

.avatar__info-nombres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.avatar__nombre{
    font-size: x-large;
}

.avatar__usuario{
    font-size: medium;
}

.avatar__info{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 80%;
}

.avatar__info-caja{
    padding: 10px 0px 10px 20px;
    border: .5px solid gray;
    width: 100%;
}

.info-caja{
    font-size: 100%;
}

.titulo{
    font-size: 80%;
    color: gray;
}

.info__perfil{
    height: 700px;
    width: 45%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    max-width: 800px;
}