.Principal-container {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
  background-image: url("../../../assets/vecteezy_real-estate-agent-holding-house-key-to-his-client-after_8572449 1.png"); 
  background-size: cover; 
  background-position: center; 
  color: white; 
}

.nav-list {
  display: flex; 
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}
