.header__container {
  display: flex;
  width: 100%;
  height: 10%;
  position: absolute;
  direction: ltr;
  justify-content: space-between;
  background: transparent;
  padding: 1.2% 0;
  top: 0;
  z-index: 1;
}
.header__imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .9%;
  cursor: pointer;

}

.header__imagen img{
  width: 60px;
  height: 50px;
}

.header__imagen-text{
  font-size: x-large;
  color: var(--white);
}

.text_blue{
  color: #0C3C6A;
}

.header__elements {
  display: flex;
  flex-direction: row; 
  padding-right: .9%;
  align-items: center;
  gap: 20px;
}

.header__elements-ubicacion {
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  height: 100%; 
  padding-left: 6px;
  padding-right: 20px;
  border-radius: 5px;
  gap: 10px;
}

.header__elements-cuenta{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.ubicacion__fondo{
  background-color: var(--white);
  padding: 3%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.ubicacion__fondo-logo{
  font-size: large;
}


.favorite,.cuenta,.bienvenida{
  color: var(--darkOrange);
}

.favorite,.cuenta{
  font-size: x-large
}

.user{
  font-weight: bold;
}

.container_ubi_fondo{
  background-color: var(--white);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.logo_fondo{
  background-color: #F3F5F9;
}

.spinner__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
}