.hero__container {
  display: flex;
  width: 100%;
  height: 33vh;
  background-image: url("/src/assets/vecteezy_real-estate-agent-holding-house-key-to-his-client-after_8572449 1.png");
  background-size: cover;
  background-position: top;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.hero__form{
  width: 30%;
  height: 15%;
  display: flex;
}

.hero__form-text{
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--white);
  border-radius: 0;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.hero__form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 100%;
  border: none;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  background-color: var(--darkOrange);
}

.button__logo{
  font-size: large;
  color: var(--white);
}