.contenedor__edit-perfil{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.CreateAccount-container__form-buttom{
    font-size: 15px;
    width: 35%;
}

.button__flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button__cancelar{
    background: #7d7d7d;
    color: var(--white);
    width: 40%;
    padding: 5px 10px;
}

.button__guardar{
    width: 100%;
    padding: 5px 10px;
}