.content {
    padding: 20px 75px;
    display: grid;
    grid-template-columns: 30% 50%;
}

.content-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #FFF;
}
.image img {
  position: absolute; /* Posiciona la imagen absolutamente dentro del contenedor */
  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: 100%; /* Establece la altura de la imagen al 100% del contenedor */
  top: 0;
  left: 0;
}

.image {
  position: relative;
  width: 100%;
  padding: 16%;
  overflow: hidden;
}

.image::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../../assets/vecteezy_real-estate-agent-holding-house-key-to-his-client-after_8572449 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
