.card-list-container {
    width: 100vw; 
    padding: 0;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(451px, 1fr));
    gap: 26px;
    justify-items: center;
    padding: 0px;
    margin: 0;
}
.car {
    max-width: 1430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.card {
    max-width: 100%; 
    width: 100%; 
}
