.card-list-container {
    width: 100vw; 
    padding: 0;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(399px, 1fr));
    justify-items: center;
    margin: 0;
    gap: 40px;
}
.car {
    max-width: 1430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.card {
    max-width: 100%; 
    width: 100%; 
}

.card-list.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
