.ContactUs{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ContactUs-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.ContactUs-container__image {
  width: 100%;
  height: 100%;
  background: url('../../assets/contactus.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(.5);
}

/* .ContactUs-container__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.ContactUs-container__text {
  display: grid;
  place-content: center;
  width: 450px;
  margin: 0 auto;
}

.ContactUs-container__text-text {
  display: grid;
  gap: 10px;
  border-bottom: 1px solid var(--lightGray);
  padding-bottom: 20px;
  margin-bottom: 20px;
} 

.ContactUs-container__text-text h1{
  font-size: 40px;
  color: var(--black);
}

.ContactUs-container__text-text p{
  font-size: 20px;
  color: var(--black);
}

.ContactUs-container__text-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.ContactUs-container__text-inputs input {
  width: 100%;
  height: 45px;
  font-size: 18px;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
}

.ContactUs-container__text-inputs textarea {
  width: 100%;
  min-width: 100%;
  max-width: 450px;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  font-size: 18px;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.ContactUs-container__text-inputs button {
  width: 100%;
  height: 45px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--darkOrange);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.CreateAccount-container__form-buttom:hover {
  background-color: var(--lightOrange);
}







