.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black);
  width: 100%; 
  padding: 20px 0;
  position: fixed;
  bottom: 0;
}

.footer__container-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__container-logo > img{
  width: 50px;
  height: 45px;
}

.footer__container-logo > a{
  color: var(--white);
  font-size: larger;
  text-decoration: none;
}

.footer__container-items{
  display: flex;
  gap: 20px;
}

.item{
  color: var(--white);
  font-size: large;
  text-decoration: none;
}

.item > a{
  color: var(--white);
}

.footer__container-button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__text{
  color: var(--white);
}

.button__footer {
  padding: 10px 20px;
  background-color: var(--darkOrange);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}