/* CSS */


h3{
font-size: 28px;
font-family: 'Poppins', sans-serif;
margin-bottom: 60px;

}


h4{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
    
    }


.filtro-body{

margin-top: 70px;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 70px;
font-family: 'Poppins', sans-serif;


}

.kind-of-houses {
    display: flex;
    height: 120px; 
    width: 100%; 
    margin-left: 0; 
    align-items: center;
    justify-content: space-between; /* add space between the two containers */
    background-color: #fff; 
    margin-bottom: 120px;
    
  }
  
  .kind-of-house {
    width: 45%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; 
    border: 1px solid #ddd; 
  }
  
  .kind-of-house__img {
    width: 80px; 
    height: 80px;
    object-fit: cover;
    border-radius: 10px; 
    margin: 20px 0; 
  }
  
  .kind-of-house__text {
    font-size: 18px;
    color: #333; 
    margin-top: 10px; 
  }
  
  .kind-of-house--apartment {
    justify-content: flex-start; /* align the text to the left */
    
  }
  
  .kind-of-house--apartment .kind-of-house__text {
    text-align: left; /* align the text to the left */
  }





  .room-text {
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .room-img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .number-of {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
  
  .all-of {
    width: 120px;
    height: auto;
    margin: 0 5px;
  }

  
.waiting-to-saballeth {
    justify-content: flex-start; /* align the text to the left */
    
  
  }
  
  
  .bath-room-div {
    display: inline-block;
    justify-content: left;
    border-left: 1px solid #000;
   
    
  
  }

.chara-object3{
padding: 3px;

    display: flex;

  flex-wrap: nowrap;
}

.chara-buttom{
margin-top: 25px;
margin-left: 30px;
    width: 240px;
    height: 20px;
}

.menu-3