
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="filtros.css">
    <link rel="" type="text/css" href="filtros.css">
    <title>Filtros</title>
</head>
<body class="filtro-body">
    

<!-- TIPO DE ALOJAMIENTO -->
<div>
<h3>Tipo de alojamiento</h3>


    <div class="kind-of-houses">

        <div class="kind-of-house kind-of-house--house">
      
          <img class="kind-of-house__img" src="./CASITA logo" alt="Kind of house logo">
      
          <p class="kind-of-house__text">Casa</p>
      
        </div>
      
        <div class="kind-of-house kind-of-house--apartment">
      
          <img class="kind-of-house__img" src="./b8c07826c517b2acde8e31979b7a0529-icono-de-apartamento-alto.webp" alt="Kind of apartment logo">
      
          <p class="kind-of-house__text">Apartamento</p>
      
        </div>
      
      </div>


</div>




<div>
<!-- POR PRECIO Y POR BAÑOS Y HABITACIONES -->


<!-- POR PRECIO -->





<!-- FIN POR PRECIO -->
        


<!-- POR BAÑOS Y HABITACIONES -->
<div> <H3> Habitaciones y baños </H3></div>
<img class="" src="./En_construccion.jpg" style="width: 50%; height: 400px;" alt="">

        <div  class="bath-room-div">






            <ul class=" room-ul">
<!-- POR HABITACIONES -->                
                 <p class="room-text">Habitaciones  </p> 
    
                <div class="room-img">

                    <img class="all-of" src="./1/cualquiera.png" alt="">
                    <img class="number-of" src="./1/1.png" alt="">
                    <img class="number-of" src="./1/2.png" alt="">
                    <img class="number-of" src="./1/3.png" alt="">
                    <img class="number-of" src="./1/4.png" alt="">
                    <img class="number-of" src="./1/5.png" alt="">
                    <img class="number-of" src="./1/6.png" alt="">
                    <img class="number-of" src="./1/7.png" alt="">

                    
                </div>
           


            </ul>
<!--  FIN POR HABITACIONES  -->

<!-- POR BAÑOS  -->


<ul class=" room-ul">
           
                     <p class="room-text">Baños </p> 
        
                    <div class="room-img">
    
                        <img class="all-of" src="./1/cualquiera.png" alt="">
                        <img class="number-of" src="./1/1.png" alt="">
                        <img class="number-of" src="./1/2.png" alt="">
                        <img class="number-of" src="./1/3.png" alt="">
                        <img class="number-of" src="./1/4.png" alt="">
                        <img class="number-of" src="./1/5.png" alt="">
                        <img class="number-of" src="./1/6.png" alt="">
                        <img class="number-of" src="./1/7.png" alt="">
    
                        
                    </div>
               
    
    
                </ul>
<!-- FIN POR BAÑOS  -->



        </div>

<!--  FIN POR BAÑOS Y HABITACIONES -->
</div>


<div class="align-characteristics">
<!-- Caracteristicas  -->

    <div> <h3>Caracteristicas</h3> </div>

    <div>

       <h4>Interior</h4>

       
    
    
        <button id="search-button">Estoy buscando...</button>

<div class="menu" style="display: none;">
    <!-- El código del menú que quieres mostrar -->
    <div class="menu-search">
        <input type="text" id="menu-search" placeholder="Search...">
    </div>
    <ul id="menu-items">


        <!-- Aquí esta el metodo para añadir caraceristicas-->
      
        <li class="menu-item">
            <input type="checkbox" id="menu-item-1">
            <label for="menu-item-1">Item 2</label>
        </li>
        <li class="menu-item">
            <input type="checkbox" id="menu-item-2">
            <label for="menu-item-2">Item 3</label>
        </li>

        <li class="menu-item">
            <input type="checkbox" id="menu-item-3">
            <label for="menu-item-3">Item 7</label>
        </li>
    </ul>
</div>



        

    </div>

    <div>

        <H4>Exterior</H4>

<!-- Menú 2 -->

<button id="search-button-2">Estoy buscando...</button>


<div class="menu-2" style="display: none;">

    <!-- El código del menú que quieres mostrar -->

    <div class="menu-search-2">

        <input type="text" id="menu-search-2" placeholder="Search...">

    </div>

    <ul id="menu-items-2">

        <!-- Aquí esta el metodo para añadir caraceristicas-->

        <li class="menu-item-2">

            <input type="checkbox" id="menu-item-0-2">

            <label for="menu-item-0-2">Item 4</label>

        </li>

        <li class="menu-item-2">

            <input type="checkbox" id="menu-item-1-2">

            <label for="menu-item-1-2">Item 5</label>

        </li>

        <li class="menu-item-2">

            <input type="checkbox" id="menu-item-2-2">

            <label for="menu-item-2-2">Item 6</label>

        </li>

    </ul>

</div>

        

    </div>


   
    <div class="chara-object3">
       <h4 class="chara-text">Sector</h4>
        

        <!-- Menú 3 -->

<button class="chara-buttom" id="search-button-3">Estoy buscando...</button>

</div>
<div class="menu-3" style="display: none;">

    <!-- El código del menú que quieres mostrar -->

    <div class="menu-search-3">

        <input type="text" id="menu-search-3" placeholder="Search...">

    </div>

    <ul id="menu-items-3">

        <!-- Aquí esta el metodo para añadir caraceristicas-->

        <li class="menu-item-3">

            <input type="checkbox" id="menu-item-0-3">

            <label for="menu-item-0-3">Item 7</label>

        </li>

        <li class="menu-item-3">

            <input type="checkbox" id="menu-item-1-3">

            <label for="menu-item-1-3">Item 8</label>

        </li>

        <li class="menu-item-3">

            <input type="checkbox" id="menu-item-2-3">

            <label for="menu-item-2-3">Item 9</label>

        </li>

    </ul>

</div>



        
   




</div >

<!-- Fin Caracteristicas  -->



<script src="filtros.js"></script>

</body>
</html>